<div class="body container my-3">
    <div class="col-12">
        <div class="cardContainer bg-dark my-3 p-3 rounded">
            <h2 class="text-light">Werk ervaring</h2>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4>Back End Developer</h4>
            <p><strong>Garden Connect | Garden Retail Marketing</strong> · Fulltime</p>
            <p class="text-secondary">Dec. 2022 - Mrt. 2023 · 4 mnd</p>
        </div>
        <div class="card-body">
            <p>
                Garden Connect ontwikkelt websites voor tuincentra. 
                Hier heb ik kennis opgedaan van Symfony, PHP, SQL, Postman. 
                Werkzaamheden bevatte het toevoegen van nieuwe features aan het CMS en oplossen van bugs.
            </p>
        </div>
        <div class="card-footer">
            <span class="badge bg-secondary me-2">Symfony</span>
            <span class="badge bg-secondary me-2">PHP</span>
            <span class="badge bg-secondary me-2">SQL</span>
            <span class="badge bg-secondary">Postman</span>
        </div>
    </div>    
    <div class="card mb-4">
        <div class="card-header">
            <h4>Consultant</h4>
            <p><strong>Devoteam</strong> · Fulltime</p>
            <p class="text-secondary">Feb. 2022 - Okt. 2022 · 9 mnd</p>
        </div>
        <div class="card-body">
            <p>
                Devoteam houdt zich bezig met Cloud, Integration, Data, and DevOps. Ik heb hier kennis opgedaan over integratie consultancy. Dat bestond vooral uit REST APIs, AZURE, JAVA en Mulesoft. 
            </p>
        </div>
        <div class="card-footer">
            <span class="badge bg-secondary me-2">REST APIs</span>
            <span class="badge bg-secondary me-2">AZURE</span>
            <span class="badge bg-secondary me-2">JAVA</span>
            <span class="badge bg-secondary me-2"><a class="text-light" href="https://courses.edx.org/certificates/e8497f61e1b14c338be0a484eff09d1b">Red Hat</a></span>
            <span class="badge bg-secondary">Mulesoft</span>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4>Intern</h4>
            <p><strong>4BIS Innovations B.V.</strong> · Fulltime</p>
            <p class="text-secondary">Mrt. 2021 - Okt. 2021 · 8 mnd</p>
        </div>
        <div class="card-body">
            <p>
                4BIS heeft een diverse inkomst aan projecten waaraan ik met ondersteuning aan kon werken. Hier is mij veel kennis aangebracht over Nodejs, JQuery en PHP. Ook heb ik hier een groot gedeelte van mijn front-end skills geleerd
            </p>
        </div>
        <div class="card-footer">
            <span class="badge bg-secondary me-2">Symfony</span>
            <span class="badge bg-secondary me-2">PHP</span>
            <span class="badge bg-secondary me-2">Nodejs</span>
            <span class="badge bg-secondary">Bootstrap</span>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4>Junior Software Developer</h4>
            <p><strong>Winst uit je woning</strong> · Fulltime</p>
            <p class="text-secondary">Jun. 2020 - Jul. 2020 · 2 mnd</p>
        </div>
        <div class="card-body">
            <p>
                Hier heb ik in PHP functies geprogrammeerd en bugs afgehandeld.
            </p>
        </div>
        <div class="card-footer">
            <span class="badge bg-secondary">PHP</span>
        </div>
    </div>
    <div class="col-12">
        <div class="cardContainer bg-dark my-3 p-3 rounded">
            <h2 class="text-light">Opleidingen</h2>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4>Codam Coding College</h4>
            <p class="text-secondary">Jun. 2023 - Jul. 2023</p>
        </div>
        <div class="card-body">
            <p>
                Gedurende 4 weken heb ik meegedaan aan de ‘Piscine’ van CODAM - een vervolgopleiding tot software engineer. De ‘Piscine’ (‘zwembad’ in het Frans) is een training- en selectieperiode van vier weken. Tijdens deze weken werkte ik aan verschillende projecten in C. Mede dankzij deze periode kwam ik tot het inzicht dat ik vooral wilde verdiepen in Game Design en Development.    
            </p>
        </div>
        <div class="card-footer">
            <span class="badge bg-secondary me-2">C</span>
            <span class="badge bg-secondary me-2">Software Engineering</span>
            <span class="badge bg-secondary">Development</span>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4>Nova College</h4>
            <p>ICT- en mediabeheer</p>
            <p class="text-secondary">2019 - 2022</p>
        </div>
        <div class="card-body">
            <p>
                Bij het nova college heb ik een foundation neer kunnen leggen voor het starten in de Web en app development.
            </p>
        </div>
        <div class="card-footer">
            <span class="badge bg-secondary me-2">Web Development</span>
            <span class="badge bg-secondary">App Development</span>
        </div>
    </div>
</div>
