<div class="body container my-3">
    <div class="d-flex app-container flex-column flex-lg-row">
        <div class="card-container p-1 rounded d-flex flex-column w-100" *ngFor="let app of apps" [routerLink]="app.link">
            <div class="d-flex card-content rounded flex-grow-1">
                <div class="d-flex flex-column flex-grow-1 app-details bg-secondary rounded p-3 h-100">
                    <h2 class="text-light">{{ 'apps.' + app.name + '.title' | translate }}</h2>
                    <div class="d-flex image rounded bg-light overflow-hidden">
                        <img [src]="app.image" alt="{{ 'apps.' + app.name + '.title' | translate }}">
                    </div>
                    <p class="text-light">{{ 'apps.' + app.name + '.description' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
