<div class="body container my-3">
    <div class="row">
        <div class="col-12">
            <div class="cardContainer bg-dark my-3 p-3 rounded">
                <h2 class="text-light">{{ 'gamesPage.title' | translate }}</h2>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 mt-2 m-lg-0" *ngFor="let game of games">
            <div class="cardContainer bg-secondary p-3 rounded">
                <h2 class="text-light">{{ game.name }}</h2>
                <div class="w-100 rounded bg-light">
                    <img class="w-100" [src]="game.image" alt="{{ game.name }}">
                </div>
                <p class="text-light">{{ game.description }}</p>
                <a class="text-light" [routerLink]="game.link">{{ 'gamesPage.details' | translate }}</a>
            </div>
        </div>
    </div>
</div>
