<div class="formcontainer container">
    <input class="w-100 py-3" type="file" #excelFile (change)="handleFile()" />
    <input class="w-100 py-3 mb-1" type="text" #subjectInput placeholder="{{ 'knappe-koppen.subjectPlaceholder' | translate }}" />
    <textarea class="w-100 p-3" #template placeholder="{{ 'knappe-koppen.textareaPlaceholder' | translate }}">{{ 'knappe-koppen.textareaDefault' | translate }}</textarea>
    <button class="w-100 p-3 btn btn-secondary" (click)="generateMailto()">{{ 'knappe-koppen.buttonText' | translate }}</button>
    <p #mailtoLink></p>
</div>

<div class="infoContainer container">
    <div id="variablesCardContainer" class="card mb-4">
        <div class="card-header" id="variableCardHeader" data-toggle="collapse" data-target="#variableCardBody" aria-expanded="true" aria-controls="variableCardBody">
            {{ 'knappe-koppen.variablesHeader' | translate }}
        </div>
        <div id="variableCardBody" class="collapse show card-body" id="availableVariables">
            <ul #variableList class="m-0">
                <li>{{ 'knappe-koppen.variablesInfo' | translate }}</li>
            </ul>
        </div>
    </div>

    <div id="infoCardContainer" class="card mb-4">
        <div class="card-header" id="infoCardHeader">
            <div class="row">
                <div class="col-6">
                    {{ 'knappe-koppen.excelStructureHeader' | translate }}
                </div>
                <div class="col-6 text-end">
                    <button class="btn btn-info text-light" data-bs-toggle="collapse" data-bs-target="#infoCardBody">{{ 'knappe-koppen.expandInfoButton' | translate }}</button>
                </div>
            </div>
        </div>

        <div id="infoCardBody" class="collapse card-body">
            
            <p>{{ 'knappe-koppen.structureNote' | translate }}</p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Recipient</th>
                  <th>RecipientName</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>email@example.com</td>
                  <td>John</td>
                </tr>
              </tbody>
            </table>
            <p><b>{{ 'knappe-koppen.fileHeadersNote' | translate }}</b></p>
        </div>
    </div>
</div>


<app-footer></app-footer>